/*custom*/

body {
    color:#ffff;
    margin:0;
} 

.d-flex {
    display: flex;
}

.d-flex-in {
    display: inline-flex;
}

.d-block {
    display: block;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.absolute-center {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

/*landing-style*/

/*nav-header*/

.nav-header  {
    margin: 25px auto;
    max-width: 1440px; 
}

#menu-toggle {
    opacity: 0;
}

.menu__btn {
    display: flex;  
    align-items: center;   
    position: absolute;
    top: 75px;
    right: 100px;
    width: 26px;
    height: 26px;
    cursor: pointer;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
}

.menu__btn > span::before {
    content: '';
    top: -8px;
}

.menu__btn > span::after {
    content: '';
    top: 8px;
}

/*image-content*/

.image-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-image: url(../img/Rectangle\ 48.png);
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;    
}


.contantimg {
     max-width: 900px;      
     padding-bottom: 5%;
}

.h3-header {
    font-size: 24px;
    line-height: 36px;
    padding-bottom: 30px;

}

.p-fore-image {
    font-size: 58px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0.2px;
    font-family: 'Poppins', sans-serif;
}

.h4-for-image {
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.2px;

}

 
.header-buttons {
    padding:7% 0 0 19%;
}
 
.button-style {
    padding:10px 50px;
    font-size: 24px;
    border-radius: 30px;
    border:1px solid white;
    font-family: 'Montserrat', sans-serif;
    line-height: 36px;
    justify-content: center;
    
}

.playstore {
    background-color: red;
    margin: 0px 35px 0 100px;    
}

.photo {
    text-align: center;
    margin:-15% 4% 0 0%;
   
}
 
.line {
    max-width: 884px;
    border:3px solid #E4E4E4;
}

/*main-section*/

.main-h2 {
    font-size: 44px;
    font-weight: 600;
    line-height: 36px;
    color:black;
    text-align: center;
    margin:5% 0;
    font-family: 'Poppins', sans-serif;
}

.wrapper-info {
    display: flex;
    justify-content: center;
}

.src {  
    padding-left:10%;
}

a {
    text-decoration: none;
    color:#FA4A0C;
}

.main-contents {
    display: flex;
    flex-direction: column;
    justify-content:center;
    max-width: 540px;
    font-family: 'Montserrat', sans-serif;
    
}


.h3-main-style {
    font-size: 24px;
    line-height: 36px;    
}

.h2-main-style {
    color:#252B42;
    font-size: 40px;
    line-height: 57px;
    font-weight: 700;
    line-height: 57px;

}

.h4-main-style {
    color:#737373;
    font-size: 24px;
    line-height: 38px;
    font-weight: 500;
    line-height: 38px; 
}

.h-margin {
    margin:10px 0;
}


.download-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-image: url(../img/footer.png);
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;  
    
}


.download-buttons {
    padding: 4% 5% 0 0;
}
 
.button-download-style {
    padding:15px 50px;
    font-size: 24px;
    border-radius: 10px;
    border:1px solid white;
    font-family: 'Montserrat', sans-serif;
    line-height: 36px;
    justify-content: center;   
}

.appstore {
    padding:15px 70px;
}

.bottom-items {
    display: flex;
    padding: 3% 10%;
    color:black;
    justify-content: space-between;
    align-items: baseline;
}

.footer-items-logo {
    list-style: none;
    display: flex;
    justify-content: baseline;
}

.footer-items-logo > li {
    padding-left:25px;
    justify-content: baseline;
}

 
 
 
  