/*custom*/

* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

body {
    color:#ffff;
    margin:0;
    font-family: 'Montserrat', sans-serif;
} 

.d-flex {
    display: flex;
}

.d-flex-in {
    display: inline-flex;
}

.d-block {
    display: block;
}

.column {
    flex-direction: column;
   
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.absolute-center {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.j-c {
    justify-content: center;
}

.a-i {
    align-items: center;
}

.t-a {
    text-align: center;
}

.fontsize {
    font-size: 24px;
}


/*landing-style*/

/*nav-header*/

.nav-header  { 
   justify-content: space-between;
   padding:1% 5%;
}

#menu-toggle {
    opacity: 0;
    position: absolute;
    top:0;
}

 
.menu-btn { 
    width: 26px;
    height: 26px;
    cursor: pointer;
}

.menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #616161;
}

.menu-btn > span::before {
    content: '';
    transform: translate(0px, -8px);
}

.menu-btn > span::after {
    content: '';
    transform: translate(0px, 6px);
}

/*image-content*/

.image-content {
    background-image: url(../img/Rectangle\ 48.png);
    height: 800px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;  
}


.contantimg {
     max-width: 900px;      
     padding-bottom: 5%;
      
}

.h3-header {
    line-height: 36px;
    padding-bottom: 30px;

}

.p-fore-image {
    font-size: 58px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0.2px;
}

.h4-for-image {
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0.2px;

}

.header-buttons {
    margin-top:8%;
}
 
.button-style {
    padding:10px 50px;
    border-radius: 30px;
    border:1px solid white;
    line-height: 36px;
    margin-left:15px;
}

.playstore {
    background-color: red;
}

.photo {
    margin:-10% 0% 0 0%;
}

.photo-style {
    max-width: 548px;
    width: 100%;
   
}
 

/*main-section*/

.main-h2 {
    font-size: 44px;
    font-weight: 600;
    line-height: 36px;
    color:black;
    margin:5% 0;
}


.src {  
    padding-left:12%;
}

a {
    text-decoration: none;
    color:white;
}

.a-w {
    text-decoration: none;
    color:red;
}
 
.line {
    max-width: 884px;
    border:3px solid #E4E4E4;
    margin-top: 15%;
   
}

.main-contents { 
    max-width: 540px;    
}

.h3-main-style {
    line-height: 36px;    
}

.h2-main-style {
    color:#252B42;
    font-size: 40px;
    line-height: 57px;
    font-weight: 700;
  
}

.h4-main-style {
    color:#737373;
    line-height: 38px;
    font-weight: 500;
    line-height: 38px; 
}

.h-margin {
    margin:10px 0;
}

.download-img {
    background-image: url(../img/footer.png);
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
   
}

.margin-p-down {
    margin:0;
}

.display-n {
     display: none;
 }


.download-buttons {
    margin-top:4%;
   
}
 
.button-download-style {
    padding:20px 50px;
    border-radius: 10px;
    border:1px solid white;
    font-family: 'Montserrat', sans-serif;
    line-height: 36px;
    margin:0 10px;
    align-items: stretch;
    
}

.appstore {
    padding:20px 70px;
}

/*footer-section*/

.footer-items {
    display: flex;
    padding: 3% 15%;
    color:black;
    justify-content: space-between;
    align-items: center;
}

.footer-items-logo {
    list-style: none;
    display: flex;
     
}

.footer-items-logo > li {
    padding-left:25px;
}

 .button-download-style:hover {
    background-color:yellow;
    color:blue;
}

.button-style:hover {
    background-color: orange;
    color:blue;

}
 
 
  