@media (max-width:414px) {
    .nav-menu {
        display: flex;
        flex-direction: column;
         
    }

    .nav-header {
        display: flex;
        justify-content: space-between;
    }
    .logo {
        max-width: 120px;
        margin:25px 0 0 25px;
    }

    .menu-btn {
        right:30px;
    }

    .image-content {
        background-image: none;
        color:black;
        flex-direction: column;
        text-align: center;
    }

    .main-h2 {
        font-size: 24px;
        margin-top: 25%;
    }

    
    .h3-header {
        padding:10% 0 0 0px;
    }

    .header-buttons {
        display::flex;
        flex-direction: column;
         align-items: center;
    }

    .p-fore-image {
        margin: 0;
    }
 
    .a-media {
        text-decoration: none;
        color:red;
        cursor: pointer;
    }


    .button-style {
        padding:10px 45px;
        margin:0px;
        
    }

    .playstore {
         color:white;
         margin-bottom: 15px;
         font-weight: 700;
         margin:0;
    }
    
    .appstore {
        border:1px solid red;
        color:red;
        font-weight: 700;
        margin-top:15px;
    }

    .photo {
         margin:1% 0% 0% -18%;
    }

    .wrapper-info {
        display: flex;
        text-align: center;
        flex-direction: column-reverse;
        padding-top:15%;
    }

    .wrapper-info {
        display: flex;
        text-align: center;
        flex-direction: column-reverse;
        padding-top:15%;
    }

    .loginimg, .srcimg {
        margin-left:15%;
    }

    .src {
        padding:0;
        flex-direction: column;
    }

    

    .download-img {
        background-image: none;
        background-color: #252B42;
        width: 100%;
    }

    .media-display-b {
        display: block;
    }
     
    .media-display-n {
        display: none;
    }

    .download-buttons {
        justify-content: center;
        align-items: center;
    }
     

    .button-download-style {
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center; 
    }

    .media-app {
        padding:10px 50px;
        color:white;
        border:1px solid white;
        margin:0;
    }

    .media-playstore {
        margin: 0px 20px 0 25px;
        padding:15px 25px;  
       
    } 

    .padding-logo-down {
        display: none;
    }

    .footer-p {
        display: none;
    }

    .footer-items-logo {
        padding-right:20%;         
    }

    .footer-items {
        flex-direction: column;
    }

    .display-p {
        margin:0;
    }

    .hr-media {
        width: 414px;
        margin-top:15%;
    }

    
} 